<div class="container p-0">
    <link rel="stylesheet" href="./creditcard.component.css">
    <div class="card px-4">
        <p class="h8 py-3">Credit Card Details</p>
        <div class="row gx-3">
            <div class="col-12">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Person Name</p>
                    <input class="form-control mb-3" type="text" placeholder="Name" size="50">
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Card Number</p>
                    <input class="form-control mb-3" type="text" placeholder="1234 5678 435678" size="50">
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Expiry</p>
                    <input class="form-control mb-3" type="text" placeholder="MM/YYYY" size="50">
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column">
                    <p class="text mb-1">CVV/CVC</p>
                    <input class="form-control mb-3 pt-2 " type="password" placeholder="***" size="50">
                </div>
            </div>
            <div class="col-12">
                <div class="btn btn-primary mb-3">
                    <a (click)="GotoConfirmation()" class="btn-link">Go to Payment</a>
                </div>
            </div>
        </div>
    </div>
</div>
