<!--<app-login></app-login>-->
<!--<app-payment-options></app-payment-options>-->
<!--<app-creditcard></app-creditcard>-->
<!--<app-dash-board></app-dash-board>-->
<!--<app-debitcard></app-debitcard>-->
<!--<app-wallet></app-wallet>-->
<!--<app-payment-success></app-payment-success>-->
<!--<app-paymentfailure></app-paymentfailure>-->
<!--<app-previous-bills></app-previous-bills>-->
<!--<app-view-details></app-view-details>-->
<!--<app-confirmation></app-confirmation>-->
<router-outlet></router-outlet>
