
  /* Center the form on the page */
  .header{
    text-align: center;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust to your preference */
  }

  /* Style the form elements */
  .form-group {
    margin-bottom: 20px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .error-message {
    color: red;
    font-size: 14px;
  }

  button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
