<div class="header">
  <h1>Bharat Bijili Corporation</h1>
  <h3>Effortlessly pay your electricity bills online with our secure and user-friendly portal</h3>
</div>

<div class="container">
  <div class="row">
      <div class="col">
          <div class="loginform">
              <div class="main-div">
                  <div class="panel">
                      <h2>Login</h2>
                      <hr />
                      <p class="text-success" style="font-weight: bold;">Please enter your Username and Password</p>
                  </div>
                  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                      <div class="form-group">
                          <input type="text"
                              name="customerid"
                              [(ngModel)]="model.customerid"
                              pattern="[0-9]*"
                              maxlength="5"
                              required placeholder="CustomerId"
                              [ngClass]="{ 'error-input': !isCustomerIdValid() }">
                          <div *ngIf="loginForm.controls.customerid.invalid && loginForm.controls.customerid.touched"
                              class="error-message">
                              CustomerId is Required ** CustomerId must be a number** and have a maximum length of 5**.
                          </div>
                      </div>

                      <div class="form-group">
                          <input type="password"
                              name="password"
                              [(ngModel)]="enteredOTP"
                              maxlength="6"
                              required placeholder="One Time Password"
                              [ngClass]="{ 'error-input': !isOTPNumeric()|| !hasSpaces(enteredOTP) }">
                          <div *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched"
                              class="error-message">
                              Password is required.
                          </div>
                          <div *ngIf="!isOTPNumeric()" class="error-message">
                              OTP must be numeric.
                          </div>
                      </div>

                      <button (click)="gotoDashBoard()" type="submit">Login</button>
                  </form>
                  <hr />
                  <div class="footer">
                      <p>&copy; 2023 Bharat Bijili Corporation. All rights reserved.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
