<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bharat Bijili Corporation</title>
    <link rel="stylesheet" href="./dash-board.component.css"/>
</head>
<body>
<nav>
    <div class="menu">
        <div class="logo">
            <a>Bharat Bijili Corporation Pune</a>
        </div>
    </div>
</nav>
<div class="center">
    <div>
        <h1>Welcome to Bharat Bijili Corporation</h1>
        <h3>Effortlessly pay your electricity bills online with our secure and user-friendly portal</h3>
        
        Additional Information -
        <p>
            At Bharat Bijili Corporation, we are committed to providing you with a seamless experience for paying your electricity bills. Our user-friendly online portal allows you to conveniently manage your electricity payments from the comfort of your home.
        </p>
        
        <p>
            We understand the importance of secure transactions, and our platform ensures the safety of your financial information. Join the thousands of satisfied customers who trust us for their electricity bill payments.
        </p>
    </div>
    <div class="btns">

        <button (click)="ViewDetails()">View Details</button>
        <button (click)="goToPayment()">Pay Bills</button>
        <button (click)=" goToPreviousBills()"> Previous Bills</button>
    </div>
</div>
</body>
</html>
