<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card">
    <div class="card-body text-center">
      <h2>Payment Unsuccessful</h2>
      <p>We're sorry, but your payment could not be processed at this time.</p>
      <p>Here are some alternative steps you can take:</p>
      <ul>
        <li>Visit the nearest office to pay the bill.</li>
        <li>Check your payment details and try again.</li>
        <li>Contact customer support for assistance.</li>
       </ul>
      <p>We apologize for any inconvenience.</p>
      <button (click)="gotoDashBoard()">Back to Home</button>

    </div>
  </div>
</div>
