/* payment-success.component.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center content vertically on the page */
  }
  
  h1 {
    font-size: 2rem;
    color: #4caf50; /* Green color for success message */
  }
  
  p {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4caf50; /* Green color for button */
    color: #fff;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049; /* Darker green color on hover */
  }
  